{#
Esta plantilla muestra el contenido de diferentes secciones y cuestiones desde la tab de evaluación de la ficha de un proveedor
Parámetros:
    - Proveedor: El proveedor en cuestión
    - SupplierEvaluation: La evaluación de provedor vigente
#}

{% extends 'evaluations/EvaluationTabLayout.html.twig' with {'scoreMode': false} %}
