{#
Esta plantilla muestra el contenido de diferentes secciones y cuestiones desde la tab de evaluación de la ficha de un proveedor
Parámetros:
    - Proveedor: El proveedor en cuestión
    - SupplierEvaluation: La evaluación de provedor vigente
#}

{#
Cuando estamos en score mode debemos cargar los datos adiccionales para la StatusBar
No obstante, los valores de Score y Calification se cargarán vía Javascript o AJAX en función del estado de la evaluación
#}
{% set ExtraBarData = 'evaluations.score'|trans ~ ': <col-md- id="EvaluationScore">'~'evaluations.loading'|trans~'</col-md-> - <col-md- id="EvaluationCalification">'~'evaluations.loading'|trans~'</col-md->'  %}

{% extends 'evaluations/EvaluationTabLayout.html.twig' with {'scoreMode': true} %}

