{% if isMultiple is not defined %}
    {% set isMultiple = false %}
{% endif %}

{% set prototype = '
<div class="row-fluid control-group" id="OptionFormLine___name___' ~ id ~ '">
    <div class="col-md-8">' ~ form_widget(options.vars.prototype.title, {'attr': {'class': 'col-md-12 optionTitle'}}) ~ '</div>
    <div class="col-md-3">' ~ form_widget(options.vars.prototype.weight, {'attr': {'class': 'col-md-12 optionWeight trendix-amount'}}) ~ '</div>
    <div class="col-md-1 buttons">
        <a href="javascript:void(0);" data-action="removeFormElementCollection" data-callback="updateWeight_' ~ id ~'" data-id="OptionFormLine___name___'~ id ~'" data-widget-container="true"><i class="icon icon-error icon-minus"></i></a>
    </div>
</div>'
%}
<div class="formWidgetContainer">
    <div id="OptionsFormContainer_{{ id }}" data-index="{{ options|length }}" class="options-form-container">
        {% for option in options %}
            <div class="row-fluid control-group" id="OptionFormLine_{{ loop.index }}_{{ id }}">
                <div class="col-md-8">{{ form_widget(option.title, {'attr': {'class': 'col-md-12 optionTitle'}}) }}</div>
                <div class="col-md-3">{{ form_widget(option.weight, {'attr': {'class': 'col-md-12 optionWeight trendix-amount'}}) }}</div>
                <div class="col-md-1 buttons">
                    <a href="javascript:void(0);" data-action="removeFormElementCollection" data-callback="updateWeight_{{ id }}" data-id="OptionFormLine_{{ loop.index }}_{{ id }}" data-widget-container="true"><i class="icon icon-error icon-minus"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="javascript:void(0);" class="btn btn-success"
       data-action="addFormElementCollection"
       data-callback="OptionFormAddElement_{{ id }}"
       data-prototype="OptionsFormPrototype_{{ id }}"
       data-container="OptionsFormContainer_{{ id }}"
       data-widget-container="true">
        {{ 'str_añadir'|trans }}
    </a>
    <div id="OptionsFormPrototype_{{ id }}" class="d-none">
        {{ prototype|raw }}
    </div>
</div>

<script type="text/javascript">
    var D_SEP = ',';
    var T_SEP = '.';
    var N_DEC = 2;
    var $prototypeTitle_{{ id }} = $('#OptionsFormPrototype_{{ id }} input.optionTitle');
    var $prototypeWeight_{{ id }} = $('#OptionsFormPrototype_{{ id }} input.optionWeight');

    $(document).on('keyup', '#OptionsFormContainer_{{ id }} .optionWeight', function() {
        updateWeight_{{ id }}($(this));
    });

    function OptionFormValidate_{{ id }}()
    {
        var isValid = ($prototypeTitle_{{ id }}.val() != '' && $prototypeWeight_{{ id }}.val() != '');
        if (!isValid) {
            showMessage('error', '{{ 'str_rellene_todos_campos'|trans }}');
        }

        return isValid;
    }

    function OptionFormAddElement_{{ id }}(id_element)
    {
        console.log(id_element);
        $('#' + id_element + ' input.optionTitle').val($prototypeTitle_{{ id }}.val());
        $('#' + id_element + ' input.optionWeight').val($prototypeWeight_{{ id }}.val());

        $prototypeTitle_{{ id }}.val('');
        $prototypeWeight_{{ id }}.val('');

        $('#' + id_element).show('fast');
        $('#' + id_element + ' input.optionWeight').inputmask({
            alias: "numeric",
            allowMinus: true,
            radixPoint: D_SEP,
            groupSeparator: T_SEP,
            autoGroup: true,
            radixFocus: true,
            digitOptional: false,
            digits: N_DEC,
            positionCaretOnTab: true,
            onBeforeMask: function (value, opts) {
                return fixPasteWrite(value, opts);
            },
            onBeforePaste: function (pastedVal, opts) {
                return fixPasteWrite(pastedVal, opts);
            }
            /*onUnMask: function(maskedValue, unmaskedValue, opts){
                if(unmaskedValue == ''){
                    return '';
                }

                var res = accounting.unformat(unmaskedValue, opts.radixPoint);
                console.log('Unmasked val: '+unmaskedValue+' '+res);
                return res;
            }*/
        });

        updateWeight_{{ id }}($('#' + id_element))
    }

    function updateWeight_{{ id }}(elem)
    {
        var weight = 0;
        $(elem).closest('.options-form-container').find('input.optionWeight').each(function () {
            var value = $(this).val();
            {% if isMultiple %}
            weight += parseInt(value.replace(T_SEP, ''));
            {% else %}
            if (parseFloat(value.replace(T_SEP, '')) > parseFloat(weight)) {
                weight = value;
            }
            {% endif %}
        });

        $(elem).closest('.modal-body').find('.criterionWeight').val(weight);
    }

    function editWeight(id)
    {
        updateWeight_{{ id }}();
    }
</script>