{#
Esta subplantilla muestra el contenido de una vesion de un formulario de evaluación para una subcategoría específica
Se debe invocar con un include y debe recibir como parámetros
    subcategoria: La subcategoría a la que pertenece la version del formulario de evaluación
    evaluationVersion: La version del forulario de evaluación
    readonly: hará que la plantilla se readmode o editmode dependiendo de su valor.
#}

{% if readonly is not defined %}
    {% set readonly = false %}
{% endif %}

{% extends '::simpleLayout.html.twig' %}

{% block more_styles %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Admin/form-validator/form-validator.css') }}" />
{% endblock %}

{% set titulo = subcategoria.nombre %}

{% block title %}
    {{ titulo }} - {{ parent() }}
{% endblock title %}

{% block content_body %}
    {{ form_start(form, {attr: {id: 'versionForm'}}) }}
    {{ form_widget(form.subcategoria) }}
    {{ form_widget(form.evaluationForm) }}
    {{ form_widget(form.author) }}
    {{ form_widget(form._token) }}
    {% set launchmentText = 'evaluations.launchment_ready'|trans %}
    {% set approvalText = 'evaluations.pending_evaluation'|trans %}
    {% set status = 'warning' %}


    {% if evaluationVersion.evaluationForm.createdAt is not null %}
        {% set  status = 'success' %}
        {% set launchmentText = 'evaluations.launched'|trans ~ ' (' ~ evaluationVersion.evaluationForm.createdAt|formatTrendixDate ~ ')' %}
    {% endif %}

    {% if evaluationVersion.publishAt is not null %}
        {% set status = ' info' %}
        {% set approvalText = 'evaluations.approved_evaluation'|trans ~ ' (' ~ evaluationVersion.publishAt|formatTrendixDate ~ ')' %}
    {% else %}

    {% endif %}

    {% set leftData = launchmentText ~ ' - ' ~ approvalText %}

    {% include ':helpers:StatusBar.html.twig' with {'leftData': leftData, 'status': status} only %}

    {% for section in form.sections %}
        {% embed 'TrendixRankBundle:evaluations:SectionBlockLayout.html.twig' with
        {
            'section': section,
            'weight': section.weight.vars.value,
        }  %}

            {% block evaluation_section_title %}
                {{ section.section.vars.data.title }}
            {% endblock %}

            {% block evaluation_section_description %}
                {{ section.section.vars.data.description }}
            {% endblock %}

            {% block evaluation_section_weight %}
                {% if readonly is defined and readonly %}
                    <span class="label label-default">{{ weight }} %</span>
                {% else %}
                {{ form_widget(section.weight) }}
                <input type="hidden" id="{{ section.section.vars.id }}" name="{{ section.section.vars.full_name }}" value="{{ section.section.vars.data.id }}">
                {{ form_widget(section.visible) }}
                {% endif %}
            {% endblock %}

            {% block evaluation_section_questions %}
                {% include 'TrendixRankBundle:evaluations/category:EvaluationFormQuestions.html.twig' with {
                    'questions': form.criteria,
                    'section': section
                } %}
            {% endblock %}
        {% endembed %}
    {% endfor %}

    {% if classificationSection is defined %}
        {% if classificationSection is null %}
            <div class="d-none">
                {{ form_widget(form.classificationWeight, {attr: {value: '0'}}) }}
            </div>
        {% else %}
            <div class="block section">
                <div class="block-header">
                    {{ classificationSection.title }}
                    <div class="block-actions">
                        {{ form_widget(form.classificationWeight) }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block action_buttons %}
    <a class="btn btn-info" title="{{ 'str_volver'|trans }}" href="{{ path('list_evaluation_version') }}"><i class="icon icon-arrow-left"></i></a>
    {% if evaluationVersion.publishAt is null %}
    <a class="btn btn-warning" title="{{ 'str_aprobar'|trans }}" data-action="AprobarVersionEvaluacion"><i class="icon icon-check"></i></a>
    {% endif %}
    {% if not readonly %}
    <a class="btn btn-success" title="{{ 'str_guardar'|trans }}" data-action="guardarVersionEvaluacion"><i class="icon icon-save"></i></a>
    {% endif %}
{% endblock %}

{% block more_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    {% include 'TrendixRankBundle:evaluations:DesignerCriterionFunctionality.html.twig' %}

    <script>
        $('#versionForm').validate();

        {% if not readonly %}
        function action_toggleQuestionVisibility()
        {
            var active = parseInt($action_button.find('input').val());

            $action_button.closest('tr').toggleClass('enabled', active);
            $action_button.closest('tr').toggleClass('disabled', (active + 1) % 2);
            $action_button.find('i.icon').toggleClass('zmdi zmdi-eye-off', active);
            $action_button.find('i.icon').toggleClass('zmdi zmdi-eye', (active + 1) % 2);
            if ($action_button.find('input[type="checkbox"]').is(':checked')) {
                $action_button.find('input[type="checkbox"]').prop('checked', false);
                $action_button.find('input[type="checkbox"]').removeAttr('checked');
            } else {
                $action_button.find('input[type="checkbox"]').prop('checked', true);
                $action_button.find('input[type="checkbox"]').attr('checked', 'checked');
            }

            checkSection();
        }

        /**
         * Comprueba si una seccion es visible o no y, si no lo es, coloca su peso a 0
         */
        function checkSection()
        {
            var $sectionBlock = $action_button.closest('.block.section');
            var $sectionWeightInput = $sectionBlock.find('.block-actions input[id*="_weight"]');
            var $sectionVisibleInput = $sectionBlock.find('.block-actions input[id*="_visible"]');

            var isSectionVisible = false;
            $sectionBlock.find('table input[type="checkbox"]').each(function() {
                if ($(this).is(':checked')) {
                    isSectionVisible = true;
                }
            });

            if (!isSectionVisible) {
                $sectionVisibleInput.prop('checked', false);
                $sectionVisibleInput.removeAttr('checked');
                $sectionWeightInput.val('0');
                $sectionWeightInput.attr('readonly', 'readonly');
            } else {
                $sectionVisibleInput.prop('checked', true);
                $sectionVisibleInput.attr('checked', 'checked');
                $sectionWeightInput.removeAttr('readonly');
            }
        }

        function action_guardarVersionEvaluacion()
        {
            var isValid = $('#versionForm').isValid();

            if (isValid) {
                $.ajax({
                    url: '{{ path('save_evaluation_version', {id: evaluationVersion.id}) }}',
                    type: 'post',
                    data: $('#versionForm').serialize()
                }).done(function(data) {
                    handleResponse(data);
                    if (data.type == 'OK') {
                        window.location.href = '{{ path('list_evaluation_version') }}';
                    }
                });
            }
        }
        {% endif %}

        function action_AprobarVersionEvaluacion() {
            var isValid = $('#versionForm').isValid();

            if (isValid) {
                $.ajax({
                    url: '{{ path('save_evaluation_version', {id: evaluationVersion.id}) }}',
                    type: 'post',
                    data: $('#versionForm').serialize() + '&aprobar=true'
                }).done(function (data) {
                    handleResponse(data);
                    if (data.type == 'OK') {
                        window.location.href = '{{ path('list_evaluation_version') }}';
                    }
                });
            }
        }
    </script>
{% endblock %}
