{#
[#150216660] - Rank - **VIEWS** - CATEGORIES
Esta vista muestra el listado de Versiones de Evaluaciones para una categoría y deberá ser incluida en la
vista de una subcategoría.

Recibirá como parámetro un listado (array) de Versiones de Evaluación
Cada elemento del listado tendrá dos acciones asociadas:
 * ver versión: Que tendrá la capacidad de acceder a la pantalla de EvaluationForm - Read Mode
 * Editar versión: Llevará a la pantalla de EvaluationsForm - Edit Mode únicamente para la versión que esté pendiente.
#}

{% import _self as status %}

<div class="block">
    <div class="block-header">{{ 'evaluations.form_versions'|trans }}</div>
    <div class="block-content no-padding">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'str_estado'|trans }}</th>
                    <th>{{ 'evaluations.author'|trans }}</th>
                    <th>{{ 'str_subcategoria'|trans }}</th>
                    <th>{{ 'evaluations.evaluation_form_launchment_date'|trans }}</th>
                    <th>{{ 'str_acciones'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for evaluationVersion in evaluationVersions %}
                <tr>
                    <td>{{ status.approval(evaluationVersion.publishAt) }}</td>
                    <td>{{ evaluationVersion.author }}</td>
                    <td>{{ evaluationVersion.subcategoria }}</td>
                    <td>{{ status.launchment(evaluationVersion.evaluationform.updatedat) }}</td>
                    <td class="actions">
                        {% if evaluationVersion.id is not null %}
                        <a class="btn btn-icon btn-link" href="{{ path('view_evaluation_version', {id: evaluationVersion.id}) }}"><i class="zmdi zmdi-eye"></i></a>
                        {% endif %}

                        {% if evaluationVersion.id is null or evaluationVersion.publishAt is not null %}
                        <a title="{{ 'str_generico_boton_nuevo'|trans }}" class="btn btn-icon btn-link btn-success" href="{{ path('new_evaluation_version', {subcategory: evaluationVersion.subcategoria.id}) }}"><i class="icon-plus"></i></a>
                        {% else %}
                        <a title="{{ 'str_editar'|trans }}" class="btn btn-icon btn-link" href="{{ path('edit_evaluation_version', {id: evaluationVersion.id}) }}"><i class="zmdi zmdi-edit"></i></a>
                        {% endif %}

                        {% if evaluationVersion.id is not null %}
                        <a title="{{ 'str_duplicar'|trans }}" class="btn btn-icon btn-link" href="javascript:void(0);" data-action="selectCategoryModal" data-id="{{ evaluationVersion.id }}"><i class="zmdi zmdi-copy"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{# Muestra el estado de aprobación y la fecha de aprobación si procede #}
{% macro approval(date) %}
    {% if date is null %}
        {% set approvalStatus = 'evaluations.pending'|trans %}
    {% else %}
        {% set approvalStatus = 'evaluations.approved'|trans ~ ' - ' ~ date|formatTrendixDate %}
    {% endif %}

    {{ approvalStatus }}
{% endmacro %}

{# Muestra la fecha de lanzamiento de una evaluación #}
{% macro launchment(date) %}
    {% if date is null %}
        {% set launchmentStatus = 'evaluations.ready'|trans %}
    {% else %}
        {% set launchmentStatus = date|formatTrendixDate %}
    {% endif %}

    {{ launchmentStatus }}
{% endmacro %}