{#
Esta subplantilla forma parte de EvaluationFormSection.html.twig
Recibe como parametros:
 questions: Lista de preguntas de una seccion
 visibilities: Array con las visibilidades de los criterion/question
 readonly: booleano que indica si la plantilla es editable o no
#}

{% if readonly is not defined %}
    {% set readonly = true %}
{% endif %}

{#
{% import 'helpers/QuestionIcons.html.twig' as icons %}
#}
<!-- evaluations/category/EvaluationFormQuestions begin -->
<table class="table table-striped table-responsive selectable questions-list">
    <thead>
    <tr>
        <th colspan="2">{{ 'evaluations.questions'|trans }}</th>
        <th>{{ 'str_informes_tipo'|trans }}</th>
        <th>{{ 'str_peso'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for question in questions if question.criterion.vars.data.section.id == section.section.vars.data.id %}
        <tr
                data-id="{{ question.vars.data.id }}"
                {% if not question.visible.vars.data %}
                    class="disabled"
                {% else %}
                    class="enabled"
                {% endif %}
        >
            <td style="width: 24px;" {% if readonly %}
                    class="disabled"
                    {% else %}
                    class="enabled" data-action="toggleQuestionVisibility" data-id="{{ question.vars.data.id }}{% endif %}">
                {#{{ icons.QuestionVisibilityIcon(question.visible.vars.data) }}#}
                {{ form_widget(question.visible) }}
                <input type="hidden" id="{{ question.criterion.vars.id }}" name="{{ question.criterion.vars.full_name }}" value="{{ question.criterion.vars.data.id }}">

            </td>
            <td>{{ question.criterion.vars.data.title }}</td>
            <td style="width: 48px;" class="text-center">{#{{ icons.QuestionTypeIcon(question.criterion.vars.data.name) }}#}</td>
            <td style="width: 48px;" class="text-center"><span class="weight">{{ question.criterion.vars.data.weight }}</span></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<!-- evaluations/category/EvaluationFormQuestions end -->