{% extends '::simpleLayout.html.twig' %}

{% set titulo = 'evaluations.form_versions'|trans %}

{% block content_body %}
{% include '@TrendixRank/evaluations/category/EvaluationPanel.html.twig' with {evaluationVersions: versions} %}

<div id="SelectCategoryModal" class="modal hide fade" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="myModalLabel">{{ 'evaluations.seleccionar_subcategorias'|trans }}</h3>
            </div>
            <div class="modal-body no-padding">
                <table class="table table-striped selectable">
                {% for c in subcategorias %}
                    <tr data-action="toggleSelect" data-id="{{ c.id }}"><td>{{ c }}</td></tr>
                {% endfor %}
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'str_cancelar'|trans }}</button>
                <button id="duplicateVersionModalBtn" data-action="overwriteVersionsModal" class="btn btn-primary">{{ 'str_seleccionar'|trans }}</button>
            </div>
        </div>
    </div>
</div>

{% include 'TrendixRankBundle:Modals:warningTemplate.html.twig' with {
    id: 'OverwriteVersions',
    header: 'str_generico_aviso_atencion',
    body: 'evaluations.versions_overwrite',
    action: 'duplicateVersion'
} %}

{% endblock %}

{% block more_scripts %}
    {{ parent() }}
    <script>
        var selections = [];
        function action_toggleSelect()
        {
            $action_button.toggleClass('selected');
            selections = [];
            $('#SelectCategoryModal table tr').each(function() {
               if ($(this).hasClass('selected')) {
                   selections.push($(this).data('id'));
               }
            });
        }

        function action_selectCategoryModal()
        {
            $('#btnModalOverwriteVersions').data('origin', $action_button.data('id'));
            $('#SelectCategoryModal').modal('show');
        }

        function action_overwriteVersionsModal()
        {
            $('#SelectCategoryModal').modal('hide');
            $('#modalOverwriteVersions').modal('show');
        }

        function action_duplicateVersion()
        {
            var datos = {
                subcategories: selections,
                origin: $action_button.data('origin')
            };

            $.ajax({
                type: 'post',
                url: '{{ path('duplicate_evaluation_version') }}',
                data: datos
            }).done(function(data) {
                handleResponse(data);
                setTimeout(window.location.reload(), 1000);
            });
        }
    </script>
{% endblock %}