<!-- evaluations/category/VersionsModalPrompt begin -->
<div id="VersionsModalPrompt" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="VersionsModalPromptHeader">{{ 'evaluations.approve_form_subcategory_version'|trans }}</h3>
            </div>
            <div class="modal-body">
                {% if versions|length == 1 %} {# Si sólo hay una versión solo puede ser la propia del usuario #}
                    <p>{{ 'evaluations.approve_your_weightings_and_visibilities'|trans }}</p>
                {% else %}
                    {% if SelectedVersion is null %} {# Si hay más de una versión y no hay seleccionada #}
                        <p>{{ 'evaluations.select_weightings_and_visibilities'|trans }}</p>
                    {% if SelectedVersion.author == trendix_usuario %} {# Si la seleccionada es la del usuario #}
                        <p>{{ 'evaluations.approve_your_weightings_and_visibilities'|trans }}</p>
                    {% else %} {# Si se selecciona la versión de otro usuario#}
                        <p>{{ 'evaluations.approve_user_weightings_and_visibilities'|trans({'%name%': SelectedVersion.author}) }}</p>
                    {% endif %}
                {% endif %}

            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true">{{ 'str_cancelar'|trans }}</a>
                {% if SelectedVersion is null %}
                <a href="javascript:void(0);" class="btn btn-warning">{{ 'evaluation.select_version'|trans }}</a>
                {% else %}
                <a href="javascript:void(0);" class="btn btn-primary">{{ 'str_aprobar'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- evaluations/category/VersionsModalPrompt end -->