{#
Esta sub plantilla muestra la estructura necesaria para una respuesta. También es capaz de detectar de forma dinámica el tipo de pregunta
y renderizar su respuesta correctamente.
Parámetros:
    - Question: La pregunta a mostrar su respuesta
    - Answer: La respuesta a la pregunta Question.
#}

<div class="answer-result">
    <div class="answer-title">
        <i class="icon icon-info tooltip" title="{{ question.description }}"></i> {{ question.title }}
    </div>

    <div class="answer">
        {% if answer is null %}
            <div class="label">{{ 'evaluations.pending'|trans }}</div>
        {% else %}
            {% include 'evaluations/provider/results/' ~ {{ question.type }} ~ 'Result.html.twig' with {'answer': answer} %}
        {% endif %}
    </div>

</div>