<!-- Evaluation/provider/results/FileResult begin -->
<ul class="list">
    {% for file in answer.files %}
        <li><a href="{{ path('descargar_fichero', {'id': file.md5}) }}">{{ file.name }}</a></li>
    {% endfor %}
</ul>
<!-- Evaluation/provider/results/FileResult end -->
