<!-- Evaluation/provider/results/MultipleOptionsResult begin -->
{% for option in answer.options %}
    <div class="option disabled">{{ option.value }}</div>
{% endif %}
<!-- Evaluation/provider/results/MultipleOptionsResult end -->