<!-- Evaluation/provider/results/SingeOptionResult begin -->
{% for option in answer.options %}
    <div class="option disabled">{{ option.value }}</div>
{% endif %}
<!-- Evaluation/provider/results/SingeOptionResult end -->
