{% extends '::simpleLayout.html.twig' %}
{% import '@TrendixRank/evaluations/poll/list.html.twig' as macros %}

{% block content_body %}
<div class="block">
    <div class="block-header">{{ 'evaluations.recurrent_form'|trans }}</div>
    <div class="block-content no-padding">
        <table class="table-striped table selectable">
            <tbody>
                <tr class="table-even">
                    <th>{{ 'str_titulo'|trans }}</th>
                    <th>{{ 'str_autor'|trans }}</th>
                    <th>{{ 'evaluations.intervalo_de_solicitud'|trans }}</th>
                    <th>{{ 'evaluations.sieguiente_solicitud'|trans }}</th>
                    <th>{{ 'str_estado'|trans }}</th>
                    <th>{{ 'str_acciones'|trans }}</th>
                </tr>

            {% for f in forms %}
                <tr>
                    <td>{{ f.title }}</td>
                    <td>{{ f.createdby }}</td>
                    <td>{{ macros.mes(f.requestInterval) }}</td>
                    <td>{{ f.nextrequest|formatTrendixDate }}</td>
                    <td>{% if f.draft %}<i class="icon-eraser icon-warning"></i>{% else %}<i class="icon-ok icon-success"></i>{% endif %}</td>
                    <td class="actions">
                        <a title="{{ 'str_editar'|trans }}" href="{{ path('new_recurrent_form', {id: f.id}) }}"><i class="zmdi-"></i></a>
                        <a title="{{ 'str_ver'|trans }}" href="{{ path('view_recurrent_form', {id: f.id}) }}"><i class="zmdi zmdi-eye"></i></a>

                    {% if not f.draft %}
                        {% if f.activationDate is null %}
                        <a title="{{ 'str_activar'|trans }}" href="javascript:void(0);" data-action="toggleActivationRecurrentForm" data-id="{{ f.id }}"><i class="icon-ok"></i></a>
                        {% else %}
                        <a title="{{ 'str_desactivar'|trans }}" href="javascript:void(0);" data-action="toggleActivationRecurrentForm" data-id="{{ f.id }}"><i class="zmdi zmdi-delete"></i></a>
                        {% endif %}
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block action_buttons %}
    <a class="btn btn-success" title="{{ 'str_generico_boton_nuevo'|trans }}" href="{{ path('new_recurrent_form') }}"><i class="icon-plus"></i></a>
{% endblock %}

{% block more_scripts %}
    {{ parent() }}
    <script>
        function action_toggleActivationRecurrentForm()
        {
            var datos = {id: $action_button.data('id')};
            $.ajax({
                'type': 'post',
                'url': '{{ path('ajax_toggle_activation_recurrent_form') }}',
                'data': datos
            }).done(function(data) {
                handleResponse(data);
                if (data.type == 'OK') {
                    setTimeout(function() {
                        window.location.reload();
                    }, 500);
                }
            });
        }
    </script>
{% endblock %}