{% extends '::simpleLayout.html.twig' %}

{% block content_body %}
    <div class="block">
        <div class="block-header">{{ 'evaluations.recurrent_forms'|trans }}</div>
        <div class="block-content no-padding">
            <table class="table-striped table selectable">
                <thead>
                <tr>
                    <th>{{ 'str_titulo'|trans }}</th>
                    <th>{{ 'evaluations.intervalo_de_solicitud'|trans }}</th>
                    <th>{{ 'str_acciones'|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for f in forms %}
                    <tr>
                        <td>{{ f.title }}</td>
                        <td>{{ f.title }}</td>
                        <td class="actions">
                            <a title="{{ 'str_editar'|trans }}" href="{{ path('rellenar_formulario_recurrente', {id: f.id}) }}"><i class="zmdi zmdi-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}