{% extends '::simpleLayout.html.twig' %}

{% set titulo = 'evaluations.recurrent_form_step_1'|trans %}

{% block title %}{{ titulo }}{% endblock %}

{% block content_body %}
    <div class="block">
        <div class="block-header">{{ 'evaluations.recurrent_form_step_1'|trans }}</div>
        <div class="block-content">
            {{ form_start(form, {attr: {class: 'form form-horizontal'}}) }}
            {{ form_row(form.title, {attr: {class: 'col-md-12'}}) }}
            {{ form_row(form.requestInterval, {attr: {class: 'col-md-12'}}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block action_buttons %}
    <a href="javascript:$('form').submit();" class="btn btn-success"><i class="icon-ok"></i></a>
{% endblock %}