{% extends 'TrendixRankBundle:evaluations/poll:Poll.html.twig' %}
{% set titulo = rank.title %}

{% block title %}{{ rank.title }}{% endblock %}

{% block action_buttons %}
    <a class="btn btn-info" href="{{ path('list_supplier_poll', {id: proveedor.id}) }}" title="{{ 'str_volver'|trans }}"><i class="icon-arrow-left"></i></a>
    {% if not poll.valid %}
    <a class="btn btn-success" href="javascript:$('#evaluationPoll').trigger('submit');" title="{{ 'str_guardar'|trans }}"><i class="icon-save"></i></a>
    {% if canValidate %}
    <a class="btn btn-success" href="javascript:void(0);" title="{{ 'evaluations.validar'|trans }}" data-action="validatePoll" data-id="{{ poll.id }}"><i class="icon-ok"></i></a>
    {% endif %}
    {% endif %}
{% endblock %}

{% block more_scripts %}
    {{ parent() }}
    <script>
        function action_validatePoll()
        {
            var datos = {id: $action_button.data('id')};
            $.ajax({
                type: 'post',
                url: '{{ path('validar_recurrent_form') }}',
                data: datos
            }).done(function(data){
                handleResponse(data);
                if (data.type == 'OK') {
                    setTimeout(function() {
                        window.location.reload();
                    }, 500)
                }
            });
        }
    </script>
{% endblock %}