{% extends '::simpleLayout.html.twig' %}

{% import _self as macros %}

{% set titulo = recurrentForm.title %}

{% block content_body %}
    <div class="block">
        <div class="block-header">{{ recurrentForm.title }}</div>
        <div class="block-content no-padding">
            <table class="table table-striped selectable">
                <tbody>
                    {% for s in recurrentForm.sections %}
                    <tr class="table-even">
                       <th colspan="3">{{ s.title }}</th>
                    </tr>
                    <tr>
                        <th>{{ 'evaluations.questions'|trans }}</th>
                        <th>{{ 'str_tipo'|trans }}</th>
                        <th>{{ 'str_peso'|trans }}</th>
                    </tr>
                    {% for c in s.criteria %}
                    <tr>
                        <td>{{ c.title }}</td>
                        <td>{{ c.type }}</td>
                        <td>{{ c.weight }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="block">
        <div class="block-header">{{ 'str_proveedores'|trans }}</div>
        <div class="block-content no-padding">
            <table class="table table-striped selectable">
                <tbody>
                    <tr>
                        <th>{{ 'str_proveedores'|trans }}</th>
                        <th>{{ 'str_estado'|trans }}</th>
                        <th>{{ 'str_acciones'|trans }}</th>
                    </tr>
                    {% for p in proveedores %}
                        {% set poll = p.recurrentPolls.first %}
                        <tr>
                            <td>{{ p.razonsocial }}</td>
                            <td>{{ macros.statusPoll(poll) }}</td>
                            <td>
                                {% if poll %}
                                <a href="{{ path('ver_formulario_recurrente', {id: poll.id}) }}"><i class="zmdi zmdi-eye"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% macro statusPoll(poll) %}
    {% if not poll %}
        --
    {% elseif poll.isValid %}
        <i title="{{ 'evaluations.validated'|trans }}" class="icon-success icon-ok"></i>
    {% else %}
        <i title="{{ 'str_aceptacion_pendientes'|trans }}" class="icon-warning icon-exclamation"></i>
    {% endif %}
{% endmacro %}