{{ form_row(criterio.subtype) }}
{{ form_row(criterio.weight, {'attr': {'class': 'criterion-weight'}}) }}
{{ form_row(criterio.min_value) }}
{{ form_row(criterio.max_value) }}
{{ form_row(criterio.decimals) }}