{% extends 'TrendixRankBundle:evaluations:DesignerLayout.html.twig' %}

{% if titulo is not defined %}
{% set titulo = 'evaluations.design_evaluation_form'|trans %}
{% endif %}

{% block designer_section_content %}
    {{ form_start(form, {attr: {id: 'rankForm'}}) }}
    <div id="sectionContainer" data-index="{{ form.sections|length }}">
    {% for section in form.sections %}
        {% embed 'TrendixRankBundle:evaluations:SectionBlockLayout.html.twig' with
            {
                'section': section,
                'weight': 0,
                'index': section.vars.name,
                'alias': loop.index0
            } only %}

            {% block evaluation_section_title %}
                <i class="icon icon-move move"></i> <span class="sectionAlias">{{ alias }}</span> - {{ form_widget(section.title) }}
            {% endblock %}

            {% block evaluation_section_weight %}
                {{ form_widget(section.weight) }}
            {% endblock %}

            {% block evaluation_section_description %}
                {{ form_widget(section.description) }}
                {{ form_widget(section.position) }}
            {% endblock %}

            {% block evaluation_section_questions %}
                {% include 'TrendixRankBundle:evaluations:DesignerQuestionList.html.twig' with {
                    'criteria': section.criteria,
                    'sectionAlias': alias
                } %}
            {% endblock %}

            {% block evaluation_section_footer %}
                <div class="card-footer text-right">
                    <a class="btn btn-danger" href="javascript:void(0);" data-action="removeSection">{{ 'str_eliminar'|trans }}</a>
                    <a class="btn btn-info" href="javascript:void(0);" data-action="copySection">{{ 'str_duplicar'|trans }}</a>
                </div>
            {% endblock %}
        {% endembed %}
    {% endfor %}
    </div>

    {% block new_section_placeholder %}
    <div class="new-section" title="{{ 'evaluations.new_section_placeholder'|trans }}">
        {{ 'evaluations.new_section'|trans }}
    </div>

    {% if classificationSection is defined %}
        {% if classificationSection is null %}
            <div class="d-none">
                {{ form_widget(form.classificationWeight, {attr: {value: '0'}}) }}
            </div>
        {% else %}
        <div class="block section">
            <div class="block-header">
                {{ classificationSection.title }}
                <div class="block-actions">
                    {{ form_widget(form.classificationWeight) }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    {% endblock %}
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    <div id="sectionPrototype" class="sectionPrototype d-none">
        {% embed 'TrendixRankBundle:evaluations:SectionBlockLayout.html.twig' with
            {
                'section': form.sections.vars.prototype,
                'weight': 0,
                'index': '__block__'
            } only %}

            {% block evaluation_section_title %}
                <i class="icon icon-move move"></i> <span class="sectionAlias"></span> - {{ form_widget(section.title) }}
            {% endblock %}

            {% block evaluation_section_weight %}
                {{ form_widget(section.weight) }}
            {% endblock %}

            {% block evaluation_section_description %}
                {{ form_widget(section.description, {attr: {class: 'col-md-12'}}) }}
                {{ form_widget(section.position) }}
            {% endblock %}

            {% block evaluation_section_questions %}
                {% include 'TrendixRankBundle:evaluations:DesignerQuestionList.html.twig' with {
                    'criteria': section.criteria
                } %}
            {% endblock %}

            {% block evaluation_section_footer %}
                <div class="card-footer text-right">
                    <a class="btn btn-danger" href="javascript:void(0);" data-action="removeSection">{{ 'str_eliminar'|trans }}</a>
                    <a class="btn btn-info" href="javascript:void(0);" data-action="copySection">{{ 'str_duplicar'|trans }}</a>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
    <a id="newSectionButton" class="btn d-none" data-action="addFormElementCollection" data-container="sectionContainer" data-prototype="sectionPrototype" data-prototype-name="__block__">{{ 'str_nueva_seccion'|trans }}</a>

    {% include 'TrendixRankBundle:Modals:warningTemplate.html.twig' with {
        id: 'PublishDesign',
        header: 'evaluations.publish_design',
        body: 'evaluations.publish_design_message',
        actionText: 'evaluations.pubish',
        action: 'publish_design_confirm'
    } %}
{% endblock %}

{% block action_buttons %}
    <a class="btn btn-success" href="javascript:void(0);" data-action="publish_design" title="{{ 'evaluations.pubish'|trans }}"><i class="icon-rocket"></i></a>
    <a class="btn btn-info" href="javascript:void(0);" data-action="submit_draft" id="draft" title="{{ 'str_generico_borrador'|trans }}"><i class="icon-eraser"></i></a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function action_submit_draft() {
            var rankForm = $('#rankForm');
            rankForm.attr('action', rankForm.attr('action') + '?draft=true');
            rankForm.trigger('submit');
        }

        function action_publish_design()
        {
            $('#modalPublishDesign').modal('show');
        }

        function action_publish_design_confirm()
        {
            var rankForm = $('#rankForm');
            rankForm.trigger('submit');
        }
    </script>
{% endblock %}