{% extends 'TrendixRankBundle:evaluations:DesignerLayout.html.twig' %}

{% set titulo = 'evaluations.evaluation_saved'|trans %}

{% block title %}
    {{ titulo }} - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <p>{{ 'evaluations.evaluation_successfully_saved' | trans }}</p>
    </div>
{% endblock %}