{%  set mensaje = 'evaluations.sin_formulario' %}
{%  set turnBack = path('ver_proveedor', {'id': proveedor.id}) %}

{% extends 'AdminBundle:Exception:exceptionTemplate.html.twig' %}

{% block pre_content %}{% include 'DirectorioBundle:Proveedor:tabs.html.twig' with { 'tab': 'formulario' , 'proveedor': proveedor } %}{% endblock %}
