{% extends 'TrendixRankBundle:evaluations:EvaluationTabLayout.html.twig' %}
{% import _self as macros %}

{% set titulo = 'evaluations.form'|trans %}

{% block title %}
    {{ titulo }} - {{ parent() }}
{% endblock %}

{% block content_body %}
    {% if evaluationPoll is not null %}
    <div class="block">
        <div class="block-header">{{ 'evaluations.evaluation_form'|trans }}</div>
        <div class="block-content no-padding">
            <table class="table table-striped selectable">
                <tbody>
                    <tr class="table-even">
                        <th>{{ 'str_titulo'|trans }}</th>
                        <th>{{ 'str_puntos'|trans }}</th>
                        <th>{{ 'str_estado'|trans }}</th>
                        <th>{{ 'str_valido_hasta'|trans }}</th>
                        <th>{{ 'str_completado'|trans }}</th>
                        <th>{{ 'str_acciones'|trans }}</th>
                    </tr>

                    <tr>
                        <td>{{ 'evaluations.evaluation_form'|trans }}</td>
                        <td>{{ rankingEvaluation.userPercent|formatTrendixAmount }} %</td>
                        <td>{{ rankingEvaluation.statusText|trans }}</td>
                        <td>{{ evaluationPoll.expiresAt|formatTrendixDate|default('--') }}</td>
                        <td>{{ rankingEvaluation.completedPercent|formatTrendixAmount }} %</td>
                        <td class="actions">
                            <a title="{{ 'evaluations.completar_formulario'|trans }}" href="{{ path('rellenar_formulario_evaluacion', {id: proveedor.id}) }}"><i class="zmdi zmdi-edit"></i></a>
                            <a title="{{ 'str_ver'|trans }}" href="{{ path('ver_formulario_evaluacion', {id: proveedor.id}) }}"><i class="zmdi zmdi-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if recurrentForm|length > 0 %}
    <div class="block">
        <div class="block-header">{{ 'evaluations.recurrent_form'|trans }}</div>
        <div class="block-content no-padding">
            <table class="table table-striped selectable">
                <tbody>
                    <tr class="table-even">
                        <th>{{ 'str_titulo'|trans }}</th>
                        <th>{{ 'str_puntos'|trans }}</th>
                        <th>{{ 'str_estado'|trans }}</th>
                        <th>{{ 'evaluations.next_request'|trans }}</th>
                        <th>{{ 'str_completado'|trans }}</th>
                        <th>{{ 'str_acciones'|trans }}</th>
                    </tr>

                    {% for r in recurrentForm %}
                    <tr>
                        <td>{{ r.title }}</td>
                        <td>{{ recurrentRanking[r.id].userPercent|formatTrendixAmount }} %</td>
                        <td>{{ recurrentRanking[r.id].statusText|trans }}</td>
                        <td>{{ r.nextRequest|formatTrendixDate }}</td>
                        <td>{{ recurrentRanking[r.id].completedPercent|formatTrendixAmount }} %</td>
                        <td class="actions">
                            <a title="{{ 'evaluations.completar_formulario'|trans }}" href="{{ path('rellenar_formulario_recurrente', {id: r.id, provId: proveedor.id}) }}"><i class="zmdi zmdi-edit"></i></a>
                            <a title="{{ 'str_ver'|trans }}" href="{{ path('ver_formulario_recurrente', {id: recurrentRanking[r.id].poll.id}) }}"><i class="zmdi zmdi-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% macro mes(number) %}
    {% if number == 1 %}{{ 'str_mensual'|trans }}
    {% elseif  number == 3 %}{{ 'str_trimestral'|trans }}
    {% elseif number == 6 %}{{ 'str_semestral'|trans }}
    {% else %}{{ number }} {{ 'evaluations.meses'|trans }}
    {% endif %}
{% endmacro %}