{% extends 'TrendixRankBundle:evaluations:EvaluationTabLayout.html.twig' %}

{% set titulo = 'evaluations.form'|trans %}

{% block title %}
    {{ titulo }} - {{ parent() }}
{% endblock %}

{% block status_bar_container %}{% endblock %}

{% block poll_sections_container %}
    {{ form_start(form, {'attr': {class: 'form', id: 'evaluationPoll'}}) }}
    {% for section in sections %}
        {% embed 'TrendixRankBundle:evaluations:SectionBlockLayout.html.twig'
                with {
            'section': section,
            'SupplierEvaluation': form,
            'weight': null,
            'alias': section.numerationalias
        } %}

            {% block evaluation_section_title %}
                <span class="sectionAlias">{{ alias }}</span> - {{ section.title }}
            {% endblock %}

            {% block evaluation_section_weight %}{% endblock %}

            {% block evaluation_section_questions %}
                {% embed 'TrendixRankBundle:evaluations:AnswersResultBlock.html.twig'
                    with {
                    criteria: section.criteria,
                    answers: form.answers,
                } only
                %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endfor %}

    {% if canValidate and form.expires_at is defined %}
    <div class="block">
        <div class="block-content">{{ form_row(form.expires_at, {attr: {class: 'pickadate'}}) }}</div>
    </div>
    {% endif %}

    {{ form_end(form) }}
{% endblock %}

{% block action_buttons %}
    <a class="btn btn-info" href="{{ path('ver_formulario_evaluacion', {id: proveedor.id}) }}" title="{{ 'str_volver'|trans }}"><i class="icon-arrow-left"></i></a>
    <a class="btn btn-success" href="javascript:$('#evaluationPoll').trigger('submit');" title="{{ 'str_guardar'|trans }}"><i class="icon-save"></i></a>
{% endblock %}

{% block more_scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/Admin/plupload/js/plupload.full.min.js') }}"></script>
    {% include 'AdminBundle:Fileupload:generaluploader.js.twig' %}
{% endblock %}