{% extends 'TrendixRankBundle:evaluations:EvaluationTabLayout.html.twig' %}

{% set titulo = 'evaluations.form'|trans %}

{% block title %}
    {{ titulo }} - {{ parent() }}
{% endblock %}

{% if filler == 'proveedor' %}
    {% set percent = null %}
{% else %}
    {% set percent = ranking['userPercent']|formatTrendixAmount ~ '%' %}
{% endif %}

{% block status_bar_container %}
{% include ':helpers:StatusBar.html.twig' with {
    status: ranking.status,
    leftData: ranking.statusText|trans,
    rightData: percent
} only %}

    {% if isOlderVersion %}
    <div class="alert alert-info">
        <h3>{{ 'evaluations.older_version'|trans }}</h3>
        <p>{{ 'evaluations.older_version_info'|trans }}</p>
    </div>
    {% endif %}
{% endblock %}

{% block poll_sections_container %}
    {% for section in sections if visibilities[section.id]['visible']%}
        {% embed 'TrendixRankBundle:evaluations:SectionBlockLayout.html.twig'
            with {
            'section': section,
            'SupplierEvaluation': evaluationPoll,
            'weight': section.weight,
            'alias': section.numerationalias
        } %}
            {% block evaluation_section_title %}
                <span class="sectionAlias">{{ alias }}</span> - {{ section.title }}
            {% endblock %}

            {% block evaluation_section_questions %}
                {% embed 'TrendixRankBundle:evaluations:AnswersResultBlock.html.twig'
                    with {
                    criteria: section.criteria,
                    answers: evaluationPoll.answers,
                    filler: filler,
                    ranking: ranking['sections'][section.id],
                    visibilities: visibilities[section.id]['criteria']
                } only
                %}
                    {% block questions_list_bar %}
                        <div class="bar grey row-fluid">
                            <div class="col-md-7">{{ 'evaluations.questions'|trans }}</div>
                            {% if filler == 'comprador' %}
                            <div class="col-md-2">{{ 'evaluations.answered_by'|trans }}</div>
                            <div class="col-md-1">{{ 'evaluations.filler'|trans }}</div>
                            <div class="col-md-2">{{ 'str_puntos'|trans }}</div>
                            {% endif %}
                        </div>
                    {% endblock %}

                    {% block answer_block %}
                        {% include 'TrendixRankBundle:evaluations:answerview/'~ currentAnswer.criterion.type|camelcase ~'View.html.twig'
                            with {
                            answer: currentAnswer,
                            ranking: ranking['criteria'][currentAnswer.criterion.id],
                            filler: filler,
                            visible: visibilities[currentAnswer.criterion.id]
                        }
                        %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}

{% block action_buttons %}
    {% if canFillEvaluationPoll %}
    <a class="btn btn-success" href="{{ path('rellenar_formulario_evaluacion', {id: proveedor.id}) }}" title="{{ 'str_editar'|trans }}"><i class="zmdi zmdi-edit"></i></a>
    {% endif %}
{% endblock %}