{#
Esta subplantilla renderiza el modal para el tipo de criterio MultipleOptions
Parámetros:
    - type: nombre del tipo de criterio/question se usará para los ids del modal
#}

{% embed 'TrendixRankBundle:evaluations:CriterionModalLayout.html.twig' with {'type': type} %}
    {% block question_modal_configuration %}
        {{ form_row(form.subtype, {attr: {class: 'col-md-12'}}) }}
        <div class="row-fluid">
            <div class="col-md-6">{{ form_row(form.min_value, {attr: {class: 'col-md-12 trendixAmount'}}) }}</div>
            <div class="col-md-6">{{ form_row(form.max_value, {attr: {class: 'col-md-12 trendixAmount'}}) }}</div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6">{{ form_row(form.decimals) }}</div>
        </div>
    {% endblock %}
{% endembed %}