{#
Esta subplantilla renderiza el modal para el tipo de criterio MultipleOptions
Parámetros:
    - type: nombre del tipo de criterio/question se usará para los ids del modal
#}

{% embed 'TrendixRankBundle:evaluations:CriterionModalLayout.html.twig' with {'type': type} %}
    {% block question_modal_configuration %}
        <div class="row-fluid">
            <div class="col-md-6">{{ form_row(form.minValue, {attr: {class: 'col-md-12 trendixAmount'}}) }}</div>
            <div class="col-md-6">{{ form_row(form.maxValue, {attr: {class: 'col-md-12 trendixAmount'}}) }}</div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6">{{ form_row(form.minWeight, {attr: {class: 'col-md-12 RangeMinWeight trendixAmount'}}) }}</div>
            <div class="col-md-6">{{ form_row(form.maxWeight, {attr: {class: 'col-md-12 RangeMaxWeight trendixAmount'}}) }}</div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6">{{ form_row(form.decimals) }}</div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $(document).on('keyup', '.RangeMaxWeight, .RangeMinWeight', function () {
                   $('#range_weight').val(getRangeCriterionWeight());
                });
            });

            function getRangeCriterionWeight()
            {
                var weight = $('.RangeMinWeight').val();
                if (parseFloat($('.RangeMaxWeight').val()) > parseFloat($('.RangeMinWeight').val())) {
                    weight = $('.RangeMaxWeight').val();
                }

                return weight;
            }
        </script>
    {% endblock %}
{% endembed %}