{#
Esta subplantilla renderiza el modal para el tipo de criterio SingleOption

Parámetros:
    - type: nombre del tipo de criterio/question se usará para los ids del modal
#}

{% embed 'TrendixRankBundle:evaluations:CriterionModalLayout.html.twig' with {'type': type} %}
    {% block question_modal_configuration %}
        {% include 'TrendixRankBundle:helpers:OptionsForm.html.twig' with {'options': form.options, 'id': form.vars.id} only %}
    {% endblock %}
{% endembed %}