{#
Esta subplantilla renderiza el modal para el tipo de criterio MultipleOptions
Parámetros:
    - type: nombre del tipo de criterio/question se usará para los ids del modal
#}

{% embed 'TrendixRankBundle:evaluations:CriterionModalLayout.html.twig' with {'type': type} %}
    {% block question_modal_configuration %}
        {{ form_row(form.limitChars, {attr: {class: 'col-md-12'}}) }}
    {% endblock %}
{% endembed %}