{% if size is not defined %}
    {% set size = '' %}
{% endif %}

<div id="modal{{ id }}" class="modal hide fade {{ size }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="modalHeader{{ id }}">{% if header is defined %} {{ header | trans }} {% endif %}</h3>
            </div>
            <div class="modal-body">
                <div id="modalBody{{ id }}">
                    {% if body is defined %}
                        {{ body | trans | raw}}
                    {% elseif bodyHtml is defined %}
                        {{ bodyHtml | raw }}
                    {% endif %}</div>
            </div>
            {% if footer is not defined or footer == true  %}
                <div class="modal-footer">
                    {% if cancelAction is defined %}
                        <button class="btn" data-action="{{ cancelAction }}">
                            {% if cancelText is defined %}
                                {{ cancelText | trans }}
                            {% else %}
                                {{ 'str_generico_boton_cancelar' | trans }}
                            {% endif %}
                        </button>
                    {% else %}
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'str_generico_boton_cancelar' | trans }}</button>
                    {% endif %}
                    <a id="btnModal{{ id }}"
                       href="javascript:void(0)"
                            {% if data is defined %}
                                {% for key,value in data %}
                                    data-{{ key }}="{{ value }}"
                                {% endfor %}
                            {% endif %}
                       data-action="{{ action }}"
                            {% if reloadUrl is defined %} data-reloadurl="{{ reloadUrl }}" {% endif %}
                       class="btn btn-primary">
                        {% if actionText is defined %}
                            {{ actionText|trans }}
                        {% else %}
                            {{ 'str_generico_boton_aceptar' | trans }}
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>