{% extends 'TrendixRankBundle:evaluations:AnswerViewLayout.htwml.twig' %}

{% block answer_view_weight %}0{% endblock %}

{% block answer_view_content %}
<table class="table table-striped selectable">
    <thead>
        <tr>
            <th>{{ 'str_nombre'|trans }}</th>
        </tr>
    </thead>

    <tbody>
    {% for f in answer.files %}
        <tr>
            <td>
                <a href="{{ path('descargar_fichero', { 'id': f.Md5}) }}">{{ f.nombre }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}