{% extends 'TrendixRankBundle:evaluations:AnswerViewLayout.htwml.twig' %}

{% block answer_view_content %}
<p>
{% for option in answer.options %}
    <span class="label">{{ option.title }}</span>
{% endfor %}
</p>
{% endblock %}