{% extends 'TrendixRankBundle:evaluations:AnswerViewLayout.htwml.twig' %}

{% block answer_view_content %}
<p>
    {% if answer.option is not null %}
    <span class="label">{{ answer.option.title }}</span>
    {% endif %}
</p>
{% endblock %}