    <div class="section">
        <div class="content__title">
            <h1>
                {{ 'str_bloques'|trans }}
            </h1>
        </div>
        <div class="section-content" id="blockList" data-index="{{ form|length }}">
        {% for block in form %}
            {% include '@TrendixRank/Forms/blockPrototype.html.twig' with {'block': block, 'prototype': 0, 'index': loop.index0} %}
        {% endfor %}
        </div>
        <div class="section-footer text-right">
            <div id="blockPrototype" class="hidden">
                {% include '@TrendixRank/Forms/blockPrototype.html.twig' with {'block': form.vars.prototype, 'prototype': 1, 'index': 0} %}
            </div>
            <a class="btn btn-success" data-action="addFormElementCollection" data-prototype="blockPrototype" data-container="blockList" data-prototype-name="{{ form.vars.prototype.vars.name }}">{{ 'str_nuevo_bloque'|trans }}</a>
        </div>
    </div>
