<div class="card" data-index="{{ block.vars.name }}">
    <div class="card-header" id="block_{{ block.vars.name }}">
        <h2 class="card-title">{{ 'str_bloque'|trans }} 1</h2>
    </div>
    <div class="card-body no-padding">
        <div style="margin-top: 16px;">
            {{ form_row(block.title, {'attr': {'class': 'block_title', 'data-index': block.vars.name}}) }}
            {{ form_row(block.description) }}
            {{ form_row(block.weight) }}
            {{ form_row(block.position) }}
        </div>

        {% include 'TrendixRankBundle:Forms:criteria.html.twig' with {'form': block.criteria, 'index': index} %}
    </div>
    <div class="card-footer text-right">
        {% if prototype == 1 %}
            <div id="criterioPrototype">
                {% for prototype in block.criteria.vars.prototypes %}
                {% include 'TrendixRankBundle:Forms:criterionPrototype.html.twig' with {'criterio': prototype, 'prototypeName': prototype._type.vars.value ~ 'Prototype', 'index': index } %}
                {% endfor %}
            </div>
        {% endif %}
        {% for prototype in block.criteria.vars.prototypes %}
        <a class="btn btn-primary"
           data-action="addFormElementCollection"
           data-prototype="{{ prototype._type.vars.value ~ 'Prototype' }}"
           data-container="criteriosList"
           data-prototype-name="{{ prototype.vars.name }}"
           data-callback="showModalCriterion"
           data-block="{{ index }}"
        >{{ 'str_nuevo_criterio'|trans }} {{ prototype._type.vars.value | trans }}</a>
        {% endfor %}
    </div>
</div>