<div id="{{ prototypeName }}" data-index="{{ criterio.vars.name }}">
    <div id="criterion-__criterion__" tabindex="-1" class="modal {% if edited is not defined %}first-time{% endif %}" role="dialog" aria-hidden="true" data-index="{{ criterio.vars.name }}" data-container="criteriosList">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'str_nuevo_criterio'|trans }}</h5>
                    {#
                    <button type="button" class="close" aria-label="Close" data-action="undoCriterionChanges" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    #}
                </div>
                <div class="modal-body" style="overflow:hidden;">
                    {{ form_row(criterio.title) }}
                    {{ form_row(criterio.description) }}
                    {{ form_row(criterio.position) }}
                    {{ form_row(criterio._type, {'attr': {'class': 'tipoCriterio'}}) }}
                    {% if criterio._type.vars.data %}
                        {% include 'TrendixRankBundle:Forms/Criterion:criterion_' ~ criterio._type.vars.data ~ '.html.twig' %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" data-action="undoCriterionChanges" aria-hidden="true">{{ 'str_cancelar'|trans }}</a>
                    <a class="btn btn-primary" data-action="saveCriterion" data-block="">{{ 'str_guardar'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>