{% for version in form.versions %}
    {% for block in version.blocks %}
        {% include '@TrendixRank/Forms/criterionPrototype.html.twig' with {'criterio':  block.criteria.vars.prototype, 'onlyContent': true} %}
    {% endfor %}
{% endfor %}