<table id="lista_criterios_{{ index }}" class="table table-striped table-responsive selectable lista_criterios">
    <thead>
    <tr>
        <th colspan="5" class="table-even">{{ 'str_criterios'|trans }}</th>
    </tr>
    <tr>
        <th></th>
        <th>{{ 'str_titulo'|trans }}</th>
        <th>{{ 'str_tipo'|trans }}</th>
        <th style="text-align: center;">{{ 'str_peso'|trans }}</th>
        <th style="text-align: center;">{{ 'admin.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody class="ui-sortable">
    </tbody>
</table>
<div id="criteriosList" data-index="{{ form|length }}">
    {% for criterio in form %}
        {% include '@TrendixRank/Forms/criterionPrototype.html.twig' with {'criterio': criterio, 'prototypeName': criterio._type.vars.value ~ 'Prototype', 'index': index} %}
    {% endfor %}
</div>