{% extends 'TrendixAdminBundle::layout.html.twig' %}
{% import 'TrendixAdminBundle::btnMacros.html.twig' as buttons %}

{% set titulo = 'Nueva Rank' %}

{% block title %}
    {{ titulo }} - {{ parent() }}
{% endblock title %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form form-horizontal'}}) }}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">{{ 'str_rank'|trans }}</h2>
            </div>
            <div class="card-body">
                {{ form_row(form.name, {'attr': {'class': 'col-md-12'}}) }}
                {# {{ form_row(form.description, {'attr': {'class': 'span12'}}) }} #}
            </div>
        </div>


        {% include 'TrendixRankBundle:Forms:blocks.html.twig' with {'form': form.sections} %}
    </div>

    {{ form_widget(form._token) }};
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block actionButtons %}
    {{ buttons.actionButton('javascript:submitForm()', 'floppy', 'green')  }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function submitForm() {
            $('#criterioPrototype').remove();
            $('#blockPrototype').remove();
            $('#filePrototype').remove();
            $('form').submit();
        }

        $(document).ready(function() {
            $(document).on('keyup', '.block_title', function () {
                var index = $(this).data('index');
                var icon = $('#block_' + index + ' i').attr('class');
                $('#block_' + index).html('<h2 class="card-title">' + $(this).val() + '<i class="' + icon + '"></i></h2>');
            });

            $(document).on('submit', 'form', function() {
                $('#criterioPrototype').remove();
                $('#blockPrototype').remove();
                $('#filePrototype').remove();
            });
        });
    </script>
{% endblock %}