{#
Layout para la vista de una respuesta
Parametros:
    - answer: respuesta
    - ranking: array con las puntuaciones (visible solo para el comprador)
    - filler: rol que está accediendo a la pantalla
    - visible: si la respuesta es visible para el usuario
#}

<!-- Rank/Evaluations/AnswerViewLayout start -->
{% if visible %}
    {% set extraTitle = '' %}
<div class="answerView">
    <div class="row-fluid">
        <div class="col-md-7">
            <i class="icon-info-sign" title="{{ answer.criterion.description }}"></i>
            <b>{{ answer.criterion.numerationalias }} - {{ answer.criterion.title }}</b>
        </div>
        {% if filler == 'comprador' %}
        <div class="col-md-2">{% if answer.answeredby is not null %}{{ answer.answeredby }}{% else %}--{% endif %}</div>
        <div class="col-md-1">
            <i title="{{ extraTitle }}" class="icon-{{ answer.criterion.filler }}"></i>
        </div>
        <div class="col-md-2">
            {% block answer_view_weight %}
            <span class="rankingUserWeight">{{ ranking['userPoints']|formatTrendixAmount }}</span>
            /
            <span class="rankingTotalWeight">{{ ranking['maxPoints']|formatTrendixAmount }}</span>
            {% endblock %}
        </div>
        {% endif %}
    </div>
    <div class="row-fluid">
        {% block answer_view_content %}{% endblock %}
    </div>
</div>
{% endif %}
<!-- Rank/Evaluations/AnswerViewLayout end -->