{#
Esta subplantilla muestra el bloque de las cuestiones con sus respuestas
Parámetros:
    - criteria: Las preguntas pertenecientes a una seccion
    - answers: Conjunto de todas las respuestas
    - filler: Rol que ha accedido a la vista [proveedor, comprador]
    - visibilities: Array con las visibilidades de los criterios
    - ranking: Array con los valores de ranking de la sección (Opcional)
#}

{% block questions_list_bar %}
<div class="bar grey">{{ 'evaluations.questions'|trans }}</div>
{% endblock %}

{% for question in criteria %}
    {% set currentAnswer = null %}
    {% for answer in answers %}
        {% if answer.vars is defined %} {# Si proviene de un form #}
            {% set criterionId = answer.vars.data.criterion.id %}
        {% else %} {# Si proviene de una entidad #}
            {% set criterionId = answer.criterion.id %}
        {% endif %}
        {% if (criterionId == question.id) %}
            {% set currentAnswer = answer %}
        {% endif %}
    {% endfor %}

    {% block answer_block %}
        {% include 'TrendixRankBundle:evaluations:AnswerLayout.html.twig' with {
            question: question,
            answer: currentAnswer
        } only %}
    {% endblock %}
{% endfor %}