{#
Esta subplantilla genera el bloque izquierdo del designer de un evaluation form o del classification designer
Puede ser reutilizada para cualquier otro designer futuro.

Parámetros:
    - criteriaType: Array de Tipos de criterios admisibles ['number','range','options']
#}
{#
{% import ':helpers:QuestionIcons.html.twig' as icons %}
#}
<!-- Evaluation/CriteriaListBlock begin -->
<div class="card criteria-list">
    <div class="card-body">
        <h2 class="card-title">{{ 'evaluations.question_type'|trans }}</h2>
        <ul class="list draggable">
        {% for key, type in criteriaType %}
           <li data-callback="newCriterionModal" data-type="{{ key|camelcase }}">{#{{ icons.QuestionTypeIcon(type) }}#} <span>{{ type|trans }}</span></li>
        {% endfor %}
        </ul>
        <div class="alert alert-info">{{ 'evaluations.question_creation_info'|trans }}</div>
    </div>
</div>

{% for key, type in criteriaType %}
    {% include 'TrendixRankBundle:evaluations/criterionmodals:' ~ key|camelcase ~ 'CriterionModal.html.twig' with {form: criteriaFormType[key], type: key, name: type} %}
{% endfor %}

<script type="text/javascript">
    var $placeHoldersArea = [];
    var $newSectionPlaceholdersArea = [];
    var lastPlaceHoldedElement = 'empty';
    var lastPlaceHoldedContainer = null;

    $(function() {
        updatePlaceHoldersArea();

        $('ul.list.draggable').sortable({
           sort: function (event, ui) {
               var top = event.pageY;
               var left = event.pageX;
               updatePlaceHolder({top: top, left: left});
               updateNewSectionPlaceholder({top: top, left: left});
           },
           stop: function(event, ui) {
               var callback = ui.item.data('callback');
               console.log(callback);
               var type = ui.item.data('type');
               if (lastPlaceHoldedContainer != null) {
                   window[callback](type);
               }
           }
        });

        // Fix para la transferencia de datos de modal a form hidden
        $(document).on('keyup, change', 'input', function() {
           $(this).attr('value', $(this).val());
        });

        $(document).on('keyup, change', 'textarea', function() {
            $(this).html($(this).val());
        });

        $(window).scroll(function() {
            var elementPosition = $('.block.criteria-list').offset();
            var elementWidth = $('.block.criteria-list').innerWidth();
            if($(window).scrollTop() > elementPosition.top - 140){
                $('.block.criteria-list').css('position','fixed').css('width', elementWidth + 'px').css('top','60');
            } else {
                $('.block.criteria-list').css('position','static');
            }
        });

        // Reseteamos el formulario al cerrarlo
        $('div[id^="CriterionModal"]').on('hidden', function () {
            var $form = $(this).find('form');
            document.getElementById($form.attr('id')).reset();
        });
    });

    function updatePlaceHoldersArea()
    {
        $placeHoldersArea = [];
        $newSectionPlaceholdersArea = [];
        var idElement = 1;
        //corrector de altura
        var k = 0;
        $('.questions-list tbody').each(function() {
            if ($(this).find('tr').length > 0) {
                $placeHoldersArea.push(createAreaElement(idElement, $(this), k));
                idElement++;
            }
        });

        // Placeholder nueva seccion
        idElement = 1;
        $('.new-section').each(function() {
            $newSectionPlaceholdersArea.push(createAreaElement(idElement, $(this), 0));
            idElement++;
        });

    }

    function updateNewSectionPlaceholder(position)
    {
        for (var i in $newSectionPlaceholdersArea) {
            if ($newSectionPlaceholdersArea[i] == undefined) {
                return;
            }
            var cursorPosition = isCursorInArea(position, $newSectionPlaceholdersArea[i]);
            if (cursorPosition) {
                $newSectionPlaceholdersArea[i].element.addClass('hover');
                lastPlaceHoldedElement = $newSectionPlaceholdersArea[i].id;
                lastPlaceHoldedContainer = $newSectionPlaceholdersArea[i].element;
            } else {
                $newSectionPlaceholdersArea[i].element.removeClass('hover');
            }
        }
    }

    function updatePlaceHolder(position)
    {
        var placeholder = '<tr class="criterionPlaceholder criterion">' + $('.criterionPlaceholderPrototype').html() + '</tr>';
        for (var i in $placeHoldersArea) {
            var cursorPosition = isCursorInArea(position, $placeHoldersArea[i]);

            if (cursorPosition) {
                if (!$('.criterionPlaceholder').length && lastPlaceHoldedElement != $placeHoldersArea[i].id) {
                    $placeHoldersArea[i].element.append(placeholder);
                    $placeHoldersArea[i].element.find('.new-criterion').addClass('hover');
                }
                updatePlaceHoldersArea();
                lastPlaceHoldedElement = $placeHoldersArea[i].id;
                lastPlaceHoldedContainer = $placeHoldersArea[i].element;
                return true;
            } else {
                $('.criterionPlaceholder').remove();
                $placeHoldersArea[i].element.find('.new-criterion').removeClass('hover');
                lastPlaceHoldedElement = null;
                lastPlaceHoldedContainer = null;
                updatePlaceHoldersArea();
            }
        }
    }

    function createAreaElement(id, elem, k)
    {
        var element = {
            id: id,
            element: elem,
            top: elem.offset().top +k,
            left: elem.offset().left,
            right: elem.offset().left + elem.outerWidth(),
            bottom : elem.offset().top + elem.outerHeight() +k
        };

        return element;
    }

    /**
     * Devuyelve false si el cursor esta fuera de un area y true si está dentro
     * @param offset
     * @param position
     * @returns {integer}
     */
    function isCursorInArea(offset, position)
    {
        if (typeof offset == 'undefined' || typeof position == 'undefined') {
            return false;
        }
        var isInVerticalPosition = (offset.top >= position.top && offset.top <= position.bottom );
        var isInHorizontalPosition = (offset.left >= position.left && offset.left <= position.right);

        return (isInVerticalPosition && isInHorizontalPosition);
    }
</script>
<!-- Evaluation/CriteriaListBlock end -->