{#
Esta plantilla renderiza el modal de un criterio/question
debe ser invocada con embed
Parámetros:
    - type: nombre del tipo de criterio/question se usará para los ids del modal
    - onlyModalBody: booleano que muestra solo el html del body del modal o el modal completo (opcional)
#}

{% if onlyModalBody is not defined %}
{% set onlyModalBody = false %}
{% endif %}

<!-- evaluations/CriterionModalLayout begin -->
{% if not onlyModalBody %}
<div id="CriterionModal{{ type|camelcase }}" class="modal fade xxl" tabindex="-1" role="dialog" aria-labelledby="CriterionModalTitle{{ type|camelcase }}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="CriterionModalTitle{{ type|camelcase }}">{#{{ icons.QuestionTypeIcon(name) }}#} {{ name|trans }}</h3>
            </div>
            <div class="modal-body">
                {{ form_start(form, {attr: {class: 'form-horizontal', id: 'CriterionModalForm' ~ type|camelcase }}) }}
        {% endif %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>{{ 'str_generico_datos_generales'|trans }}</h4>
                            {{ form_row(form.title, {attr: {class: 'col-md-12 criterionName'}}) }}
                            {{ form_row(form.description, {attr: {class: 'col-md-12'}}) }}
                            <div class="row-fuid">
                                <div class="col-md-6">
                                    {{ form_row(form.weight, {attr: {class: 'col-md-12 criterionWeight'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ 'str_configuracion'|trans }}</h4>
                            {% block question_modal_configuration %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <span class="criterionIcon d-none">{{ name }}{#{{ icons.QuestionTypeIcon(name) }}#}</span>
                {{ form_widget(form.position) }}
                {{ form_widget(form._type) }}
        {% if not onlyModalBody %}
                {{ form_end(form, {render_rest: false}) }}
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal" aria-hidden="true">{{ 'str_cancelar'|trans }}</a>
                <a class="btn btn-primary" data-action="saveCriterionModalForm" data-id="CriterionModalForm{{ type|camelcase }}">{{ 'str_guardar'|trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- evaluations/QuestionModalLayout end -->