{#
Este Layout se usa para los designer de criterios y secciones tales como el "Designer - Evaluation Form" o el "Classification Designer"
Parámetros:
    - criteriaType: Array de Tipos de criterios admisibles ['type' => 'criteriatype_name', ...]
#}

{% extends 'TrendixAdminBundle::layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Admin/form-validator/form-validator.css') }}" />
    <style>
        .new-section {
            text-align: center;
            padding: 15px;
            border: 5px solid #03a9f4;
            background: #17bcfa;
            transition: 0.3s all ease-in-out;
            font-weight: normal;
            font-size: 1.5em;
            color: white;
        }

        .new-section.hover {
            background: #03a9f4;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    {% set status = 'success' %}
    {% set statusText = 'evaluations.published'|trans %}
    {% if rank.draft %}
        {% set statusText = 'evaluations.draft'|trans %}
        {% set status = 'warning' %}
    {% endif %}
    {#
    {% include 'helpers/StatusBar.html.twig' with {
        leftData: 'evaluations.last_save'|trans ~ ': ' ~ rank.updatedat|date('d/m/Y'),
        status: status,
        rightData: statusText
    } %}
    #}

    <div class="row">
        <div class="col-md-3">
            {% include 'TrendixRankBundle:evaluations:CriteriaListBlock.html.twig' with {'criteriaType': criteriaType} %}
        </div>
        <div class="col-md-9 sectionSortable">
            {% block designer_section_content %}
            {% endblock %}
        </div>
    </div>

    {% set RemoveCriterionModalOptions = {
        id: 'RemoveCriterion',
        hreader: 'str_eliminar_criterio'|trans,
        body: 'str_eliminar_criterio_confirmar'|trans,
        action: 'RemoveCriterionConfirm'
    } %}
    {% include 'TrendixRankBundle:Modals:warningTemplate.html.twig' with RemoveCriterionModalOptions only %}

    {% set RemoveSectionModalOptions = {
        id: 'RemoveSection',
        hreader: 'str_eliminar_seccion'|trans,
        body: 'str_mensaje_eliminar_seccion'|trans,
        action: 'RemoveSectionConfirm'
    } %}
    {% include 'TrendixRankBundle:Modals:warningTemplate.html.twig' with RemoveSectionModalOptions only %}

    <!-- Placeholder para nuevo criterio (cuando no hay criterios en la seccion) -->
    <table class="d-none">
        <tbody class="newCrierionBlockPlaceholder">
        <tr class="new-criterion">
            <td colspan="5">{{ 'str_nuevo_criterio'|trans }}</td>
        </tr>
        </tbody>
    </table>

    <!-- Prototipo para criterio dentro de la seccion -->
    <div class="d-none">
        <table>
            <tr class="criterionPlaceholderPrototype criterion">
                <td><i class="icon-move"></i> <b><span class="criterionAlias"></span></b> - <span class="criterionName">{{ 'str_nuevo_criterio'|trans }}</span></td>
                <td class="criterionIcon"><i class="zmdi zmdi-menu"></i></td>
                <td class="criterionWeight"><span class="weight">--</span></td>
                <td class="actions">
                    <a href="javascript:void(0);" data-action="editCriterion" title="{{ 'str_editar'|trans }}"><i class="zmdi zmdi-edit"></i></a>
                    <a href="javascript:void(0);" data-action="copyCriterion" title="{{ 'str_copiar'|trans }}"><i class="zmdi zmdi-copy"></i></a>
                    <a href="javascript:void(0);" data-action="removeCriterion" title="{{ 'str_eliminar'|trans }}"><i class="zmdi zmdi-delete"></i></a>
                    <div class="d-none criterionData"></div>
                </td>
            </tr>
        </table>
    </div>

    <!-- Modal para la edición de criterios -->
    <div id="editCriterionModal" class="modal hide fade xxl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="editCriterionModalTitle">{{ 'str_criterio_editar_criterio'|trans }}</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal"></form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'str_cancelar'|trans }}</button>
                    <button class="btn btn-primary" data-action="editCriterionSubmit">{{ 'str_guardar'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            // Añadimos la mascara a todos los elementos
            $('#editCriterionModal').on('shown', function() {
               $('.trendixAmount', 'div[id*="CriterionModal"]').inputmask('TrendixAmount');
            });

            //Eliminamos todos los prototipos al hacer submit en el form
            $(document).on('submit', 'form', function() {
                $('[id*="OptionsFormPrototype"]').remove();
            });

            $('div.sectionSortable').sortable(
                {
                    items: 'div.section',
                    connetWith: 'div',
                    handle: '.block-header',
                    stop: function() {
                        updateOrder();
                    }

                }
            );

            makeSortable(document);
            updateOrder();
        });

        function makeSortable($section)
        {
            $($section).find('table.questions-list tbody').sortable({
                connetWith: 'tr',
                dropOnEmpty: true,
                helper: function(e, tr) {
                    var $originals = tr.children();
                    var $helper = tr.clone();
                    $helper.children().each(function(index) {
                        $(this).width($originals.eq(index).width());
                        $(this).css('background', '#fff');
                    });
                    return $helper;
                },
                items: 'tr.criterion',
                stop: function() {
                    updateOrder();
                }
            });
        }

        function updateOrder() {
            var orderSection = 1;
            $('#sectionContainer .section').each(function() {
                var orderCriterion = 1;
                var sectionAlias = numberText(orderSection - 1);
                $(this).find('.description > input[id*="_position"]').val(orderSection);
                $(this).find('.sectionAlias').text(sectionAlias);
                ++orderSection;
                $(this).find('tbody tr').not('.new-criterion').each(function() {
                    $(this).find('input[id*="_position"]').val(orderCriterion);
                    $(this).find('.criterionAlias').text(sectionAlias + orderCriterion);
                    ++orderCriterion;
                })
            });
        }

        var letters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        function numberText(number)
        {
            if (isNaN(number - parseFloat(number))) {
                return 'A';
            }
            var total = letters.length;
            if (number >= total) {
                return numberText(Math.floor(number/total) - 1) + letters[number % total];
            } else {
                return letters[number];
            }
        }
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    {% include 'TrendixRankBundle:evaluations:DesignerCriterionFunctionality.html.twig' %}
    {% include 'TrendixRankBundle:evaluations:DesignerSectionFunctionality.html.twig' %}
{% endblock %}