{#{% import ':helpers:QuestionIcons.html.twig' as icons %}#}

<table class="table table-striped selectable questions-list" data-name-prototype="{{ criteria.vars.full_name }}" data-id-prototype="{{ criteria.vars.id }}">
    <thead>
        <tr>
            <th width="50%">{{ 'evaluations.questions'|trans }}</th>
            <th>{{ 'str_tipo'|trans }}</th>
            <th>{{ 'str_peso'|trans }}</th>
            <th style="text-align: center;">{{ 'str_acciones'|trans }}</th>
        </tr>
    </thead>

    <tbody data-index="{{ criteria|length }}">
        {% if (criteria|length == 0) %}
            <tr class="new-criterion">
                <td colspan="5">{{ 'evaluations.new_criterion'|trans }}</td>
            </tr>
        {% else %}
            {% for criterion in criteria %}
            <tr class="criterion" data-index="{{ criterion.vars.name }}">
                <td>
                    <i class="icon icon-move"></i>
                    <b><span class="criterionAlias">{{ sectionAlias|default('') }}{{ loop.index }}</span></b> -
                    <span class="criterionName">{{ criterion.vars.data.title }}</span>
                </td>
                <td>{{ criterion.vars.data.name }}{#{{ icons.QuestionTypeIcon(criterion.vars.data.name) }}#}</td>
                <td class="criterionWeight"><span class="weight">{{ criterion.vars.data.weight }}</span></td>
                <td class="actions">
                    <a href="javascript:void(0);" data-action="editCriterion"><i class="zmdi zmdi-edit"></i></a>
                    <a href="javascript:void(0);" data-action="copyCriterion"><i class="zmdi zmdi-copy"></i></a>
                    <a href="javascript:void(0);" data-action="removeCriterion"><i class="zmdi zmdi-delete"></i></a>
                    <div class="d-none criterionData">
                        {% include 'TrendixRankBundle:evaluations/criterionmodals:' ~ criterion.vars.data.type|camelcase ~ 'CriterionModal.html.twig' with
                            {
                                form: criterion,
                                type: criterion.vars.data.type,
                                name: criterion.vars.data.name,
                                onlyModalBody: true
                            } %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>