<script type="text/javascript">
var sectionBlock = null;

function action_removeSection($action_button)
{
    sectionBlock = $action_button.closest('.section');
    $('#modalRemoveSection').modal('show');
}

function action_RemoveSectionConfirm($action_button)
{
    if (typeof sectionBlock != 'undefined' && sectionBlock != null) {
        sectionBlock.hide('slow', function() {
            $(this).remove();
        });
    }

    $('#modalRemoveSection').modal('hide');

    sectionBlock = null;
}

function action_copySection($action_button)
{
    var origin = $action_button.closest('.section');
    var index = origin.data('index');
    var newIndex = origin.parent().find('.section').length + 1;
    var html = origin.html();
    var nameAttr = new RegExp('\\[sections\\]\\[' + index + '\\]', "g");
    var idAttr = new RegExp('_sections_' + index + '_', "g");

    html = html.replace(nameAttr, '[sections][' + newIndex + ']');
    html = html.replace(idAttr, '_sections_' + newIndex + '_');

    $('<div class="card section" data-index="'+ newIndex +'">' + html + '</tr>').insertAfter(origin);
}
</script>