<script type="text/javascript">
    var criterionBlock = null;
    var lastCriterionDataContainer = null;

    // Validación para la suma de 100 de los pesos de las secciones
    $.formUtils.addValidator({
        name : 'total_percent',
        validatorFunction : function(value, $el, config, language, $form) {
            var sum = 0;
            $form.find('[data-validation*="total_percent"]').each(function() {
                sum += parseFloat($(this).val());
            });

            var isValid = (sum == 100);

            if (!isValid) {
                showMessage('alert-error', '{{ 'evaluations.sections.total_must_be_100'|trans }}');
            }

            return isValid;
        },
        errorMessage : '{{ 'evaluations.sections.total_must_be_100'|trans }}',
        errorMessageKey: 'badTotalPercent'
    });

    // Validación para secciones sin criterios
    $.formUtils.addValidator({
        name : 'one_criterion',
        validatorFunction : function(value, $el, config, language, $form) {
            var isValid = true;
            $form.find('#sectionContainer table tbody').each(function() {
                if ($(this).find('tr').not('.new-criterion').length == 0) {
                    isValid = false;
                }
            });

            if (!isValid) {
                showMessage('alert-error', '{{ 'evaluations.sections.section_must_contains_1_criterion'|trans }}');
            }

            return isValid;
        },
        errorMessage : '{{ 'evaluations.sections.section_must_contains_1_criterion'|trans }}',
        errorMessageKey: 'badOneCriterion'
    });

    $.validate({
        lang: '{{ app.request.locale }}',
        modules : 'html5',
        onError: function(form) {
            showMessage('alert-error', '{{ 'str_error_form'|trans }}');
        }
    });

    function newCriterionModal(type)
    {
        $('.criterionPlaceholder').remove();
        $('#CriterionModal' + type).modal('show');
    }

    // Accion de guardar un criterio en la sección apropiada
    function action_saveCriterionModalForm($action_button)
    {
        // Obtenemos el formulario (Antes de ejecutar cualquier otro evento que use $action_button)
        var $form = $('#' + $action_button.data('id'));

        // Validamos el formulario
        if (!validateCriterionModalForm($form)) {
            return false;
        }

        // Si el criterio se ha soltado encima del cuadro de crear seccion
        // Crearemos primero el bloque de la sección y luego modificaremos la variable lastPlaceHoldedContainer
        if (lastPlaceHoldedContainer.hasClass('new-section')) {
            createNewSection();
        }

        // Obtenemos el una variable el html del placeholder que se usara para introducir el elemento en el listado
        var placeholder = '<tr class="criterion ui-sortable-handle">' + $('.criterionPlaceholderPrototype').html() + '</tr>';

        // Obtenemos el índice para el form
        var index = lastPlaceHoldedContainer.data('index') + 1;

        // Obtenemos el id y name del formulario y el name e id por el que debemos sustituir
        var namePrototype = lastPlaceHoldedContainer.parent().data('name-prototype');
        var idPrototype = lastPlaceHoldedContainer.parent().data('id-prototype');
        var nameAttr = new RegExp('name="' + $form.attr('name'), "g");
        var idAttr = new RegExp('id="' + $form.attr('name') + '_', "g");

        // Sustituimos los atributos name e id por los nuevos
        var $formHtml = $form.html();
        var $newForm = $formHtml.replace(nameAttr, 'name="' + namePrototype + '[' + index + ']');
        $newForm = $newForm.replace(idAttr, 'id="'+ idPrototype + '_' + index + '_');

        // Introducimos el placeholder en el listado de criterios
        lastPlaceHoldedContainer.append(placeholder).hide(0).show('slow');

        // Obtenemos el criterio recién introducido
        var $criterion = lastPlaceHoldedContainer.find('tr:last');

        // Colocamos el index
        $criterion.attr('data-index', index);

        // Colocamos el nombre del criterio creado
        $criterion.find('.criterionName').text($form.find('.criterionName').val());

        // Colocamos el icono del criterio
        $criterion.find('.criterionIcon').html($form.find('.criterionIcon').html());

        // Colocamos el filler
        var titleProveedor = '{{ 'str_proveedor'|trans }}';
        var titleComprador = '{{ 'str_comprador'|trans }}';
        var filler = $form.find('.criterionFiller .selected input').val();
        var titleFiller = titleProveedor;
        if(filler == 'comprador') {
            titleFiller = titleComprador;
        }

        // Colocamos el peso (si tiene)
        $criterion.find('.criterionWeight span.weight').text($form.find('.criterionWeight').val());

        // Colocamos el contenido del form
        $criterion.find('.criterionData').html($newForm);

        // Eliminamos el placeholder de nuevo criterio si existe
        lastPlaceHoldedContainer.find('.new-criterion').hide(400, function() { $(this).remove(); });

        // Actualizamos el índice del container
        lastPlaceHoldedContainer.data('index', index);

        // Reordenamos los criterios (ajustes de indices)
        updateOrder();

        // Cerramos el modal
        $('div[id^="CriterionModal"]').modal('hide');

        // Vaciamos el form del modal una vez guardados los datos:
        $form.find('input[type="text"], select, textarea').each(function() {
            var id = $(this).attr('id');
            if(id == 'numeric_decimals' || id == 'range_decimals') {
                $(this).val(2).trigger('change');
            } else if(id == 'text_limitChars') {
                $(this).val({{ constant('Trendix\\RankBundle\\Entity\\Criterion\\TextCriterion::DEFAULT_LIMIT_CHARS') }}).trigger('change');
            } else {
                $(this).val('').trigger('change');
            }
        });
        $form.find('input[type="radio"], input[type="checkbox"]').each(function() {
            $(this).prop('checked', false).trigger('change');
            $(this).closest('.option').removeClass('selected');
        });
    }

    function validateCriterionModalForm($form)
    {
        var conf = {
            onElementValidate : function(valid, $el, $form, errorMess) {
                if( !valid ) {
                    $el.addClass('has-error error').removeClass('valid has-success').parent().removeClass('valid').addClass('has-error');
                } else {
                    $el.removeClass('has-error error').addClass('valid has-success').parent().addClass('valid').removeClass('has-error');
                }
            }
        };

        var isValid = $form.isValid(null, conf, false);

        if (!isValid) {
            showMessage('alert-error', '{{ 'str_error_form'|trans }}');
        }

        return isValid;
    }

    function createNewSection()
    {
        $('#newSectionButton').trigger('click');
        lastPlaceHoldedContainer = $('#sectionContainer > .block.section:last tbody');
        makeSortable($('#sectionContainer > .block.section:last'));
    }

    function action_removeCriterion($action_button)
    {
        criterionBlock = $action_button.closest('tr');
        $('#modalRemoveCriterion').modal('show');
    }

    function action_RemoveCriterionConfirm($action_button)
    {
        if (typeof criterionBlock != 'undefined' && criterionBlock != null) {
            criterionBlock.hide('slow', function() {
                var html;
                if ($(this).parent().find('tr').length == 1) {
                    html = $('.newCrierionBlockPlaceholder').html();
                }
                $(this).parent().append(html);
                $(this).remove();

            });
        }

        $('#modalRemoveCriterion').modal('hide');

        criterionBlock = null;
    }

    function action_editCriterion($action_button)
    {
        console.log($action_button);
        lastCriterionDataContainer = $action_button.parent().find('.criterionData');
        var data = lastCriterionDataContainer.html();
        $('#editCriterionModal .form-horizontal').html(data);
        $('#editCriterionModal').modal('show');
    }

    function action_editCriterionSubmit($action_button)
    {
        var $form = $('#editCriterionModal .form-horizontal');

        // Validamos el formulario
        if (!validateCriterionModalForm($form)) {
            return false;
        }
        var $criterion = lastCriterionDataContainer.closest('.criterion');
        //Devolvemos el contenido del form al lastCriterionDataContainer
        var data = $form.html();
        lastCriterionDataContainer.html(data);
        //Actualizamos los datos de config del criterio (nombre y peso)
        $criterion.find('.criterionName').text($form.find('.criterionName').val());
        // Actualizamos el peso solo si este ha sido modificado
        var newWeight = $form.find('.criterionWeight').val();
        if(newWeight) {
            $criterion.find('.criterionWeight span.weight').text(newWeight);
        }

        //Vaciamos lastCriterionDataContainer y ModalBodyContainer
        lastCriterionDataContainer = null;
        $form.html('');

        // Cerramos el modal
        $('#editCriterionModal').modal('hide');
    }

    function action_copyCriterion($action_button)
    {
        var origin = $action_button.closest('.criterion');
        var index = origin.data('index');
        var newIndex = origin.parent().find('tr').length + 1;
        var html = origin.html();
        var nameAttr = new RegExp('\\[criteria\\]\\[' + index + '\\]', "g");
        var idAttr = new RegExp('_criteria_' + index + '_', "g");

        html = html.replace(nameAttr, '[criteria][' + newIndex + ']');
        html = html.replace(idAttr, '_criteria_' + newIndex + '_');

        $('<tr class="criterion ui-sortable-handle">' + html + '</tr>').insertAfter(origin);
    }

    // Función que elimina todas las opciones vacías del formulario
    $('form').on('submit', function(e) {
        $('[id*="OptionFormLine_"] input').each(function () {
           if ($(this).val() == '') {
               $(this).parent().remove();
           }
        });
    });
</script>