{#
Esta plantilla muestra el contenido de diferentes secciones y cuestiones desde la tab de evaluación de la ficha de un proveedor
Parámetros:
    - Proveedor: El proveedor en cuestión
    - SupplierEvaluation: La evaluación de provedor vigente
    - scoreMode: Booleano que indica si estamos en la pantalla de score mode o result mode
    - extraBarData: Texto que se verá a la derecha del statusbar (optional)
#}

{% extends 'TrendixAdminBundle::layout.html.twig' %}

{% set titulo = 'str_ver' | trans %}
{% block title %}{{ titulo }} - {{ parent() }}{% endblock title %}

{% block content %}
    {% block status_bar_container %}
        {# Si la plantilla padre no tiene text para la zona derecha de la barra de estado lo colocamos vacío #}
        {% if extraBarData is not defined %}
            {% set extraBarData = '' %}
        {% endif %}

        {% set leftData = 'evaluations.pending'|trans %}
        {% set status = 'warning' %}

        {% if false %} {# TODO: PA MAS PALANTE #}
            {% set status = 'success' %}
            {% set expiresIn = 'evluations.expires_in'|trans ~ SupplierEvaluation.expiration|timeago ~ ')' %}
            {% set leftData = 'evaluations.validated'|trans ~ ' (' ~ SupplierEvaluation.expiration|formatTrendixDate ~ ') - '~ expiresIn %}
        {% endif %}

        {# La información adiccional, complementaria o sustitutiva de la barra se cargará vía Javascript #}
        {% set statusBarData = {'leftData': leftData, 'status': status, 'rightData': extraBarData} %}
        {% include ':helpers:StatusBar.html.twig' with statusBarData only %}
    {% endblock %}

    {% block poll_sections_container %}
    {% endblock %}
{% endblock %}

