{#
Esta subplantilla forma parte de EvaluationForm.html.twig
Recibe como parametros:
 section: La sección actual de la iteración sobre la plantilla padre
 weight: ponderación para la seccion actual
 visible: dice s la sección es visible (opcional)
 filler: el rol que está accediendo a la pantalla (opcional) [Default: 'comprador']

#}

{% if visible is not defined %}
    {% set visible = true %}
{% endif %}

{% if filler is not defined %}
    {% set filler = 'comprador' %}
{% endif %}

<!-- evaluations/SectionBlockLayout begin -->
<div class="card section {% if not visible %}d-none{% endif %}" {% if index is defined %}data-index="{{ index }}"{% endif %}>
    <div class="card-body no-padding">
        <h2 class="card-title">
            {% block evaluation_section_title %}
                    {{ section.title }}
                <div class="block-actions">
                    {% block evaluation_section_weight %}
                        {% if filler == 'comprador' %}
                            <span class="label black-label">{{ weight }} %</span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </h2>

        <div class="description" style="font-size: 1.1em;">
            <b>
                {% block evaluation_section_description %}
                    {{ section.description }}
                {% endblock %}
            </b>
        </div>

        {% block evaluation_section_questions %}
        {% endblock %}
    </div>

    {% block evaluation_section_footer %}{% endblock %}
</div>
<!-- evaluations/SectionBlockLayout end -->